<article class="flex flex-col gap-4">
  <h1 class="text-4xl">I am Jamie Gordon</h1>

  <div class="flex flex-row gap-4">
    <%= vite_image_tag('images/jamie.jpg', class: 'h-72 drop-shadow-xl') %>
    <div class="flex flex-col gap-1">
      <p>
        I'm a programmer with a Bachelor's Degree in Computer Science.  I completed all the 
        coursework for a Master's Degree, but was knee deep in work so never completed my thesis.
      </p>
      <p>
        I love coding.  These days I mostly do Ruby coding, but would love to work with Java again.
        I also did some Elixir work, and that was pretty interesting so I would like to get back into
        that some time.
      </p>
      <p>
        I've been working on web applications since 2013, so I also have experience in all of the 
        standard web languages (CSS, HTML, JavaScript).
      </p>
    </div>
  </div>

  <div class="flex flex-row gap-4">
    <%= vite_image_tag('images/gordon.jpg', class: 'h-72 drop-shadow-xl') %>
    <div class="flex flex-col gap-2">
      <h2 class="text-2xl">Anyway</h2>
      <p>
        This is where projects will go, anything else I decide is worth to put here will also be here.
      </p>
    </div>
  </div>

  <section class="flex flex-col">
    <h2 class="text-3xl">Gallery of Idiocy</h2>
    <div class="flex flex-row" x-data="{ slide: 0 }">
      <button x-on:click="slide = slide > 0 ? slide - 1 : 10"><%= icon(:chevron_left) %></button>
      <div class="w-full">
        <figure x-show="slide == 0">
          <%= vite_image_tag('images/gifs/aaaaaaaaaaa.gif', class: 'w-full') %>
          <figcaption class="text-medium">Working through the pain.</figcaption>
        </figure>
        <figure x-show="slide == 1">
          <%= vite_image_tag('images/gifs/construction.gif', class: 'w-full') %>
          <figcaption class="text-medium">Construction day.</figcaption>
        </figure>
        <figure x-show="slide == 2">
          <%= vite_image_tag('images/gifs/eating.gif', class: 'w-full') %>
          <figcaption class="text-medium">Version bump.</figcaption>
        </figure>
        <figure x-show="slide == 3">
          <%= vite_image_tag('images/gifs/fear.gif', class: 'w-full') %>
          <figcaption class="text-medium">Fear.</figcaption>
        </figure>
        <figure x-show="slide == 4">
          <%= vite_image_tag('images/gifs/fix_idiocy.gif', class: 'w-full') %>
          <figcaption class="text-medium">Fix Idiocy.</figcaption></figcaption>
        </figure>
        <figure x-show="slide == 5">
          <%= vite_image_tag('images/gifs/hat_spin.gif', class: 'w-full') %>
          <figcaption class="text-medium">Masterful Hat Spin.</figcaption>
        </figure>
        <figure x-show="slide == 6">
          <%= vite_image_tag('images/gifs/math_king.gif', class: 'w-full') %>
          <figcaption class="text-medium">The King &amp; Math.</figcaption>
        </figure>
        <figure x-show="slide == 7">
          <%= vite_image_tag('images/gifs/polymorphism.gif', class: 'w-full') %>
          <figcaption class="text-medium">The Mysteries of Polymorphism.</figcaption>
        </figure>
        <figure x-show="slide == 8">
          <%= vite_image_tag('images/gifs/rain.gif', class: 'w-full') %>
          <figcaption class="text-medium">JQuery and SQL Magic.</figcaption>
        </figure>
        <figure x-show="slide == 9">
          <%= vite_image_tag('images/gifs/sad_king.gif', class: 'w-full') %>
          <figcaption class="text-medium">The Sad King.</figcaption>
        </figure>
        <figure x-show="slide == 10">
          <%= vite_image_tag('images/gifs/slow_mo.gif', class: 'w-full') %>
          <figcaption class="text-medium">Slow Motion.</figcaption>
        </figure>
      </div>
      <button x-on:click="slide = slide < 10 ? slide + 1 : 0"><%= icon(:chevron_right) %></button>
    </div>
  </section>
</article>
