<!DOCTYPE html>
<html>
  <head id="head">
    <title><%= content_for?(:title) ? yield(:title) : 'Jamie Gordon' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_stylesheet_tag("application.tailwind.css") %>
    <%= vite_typescript_tag('application') %>
    <%= vite_typescript_tag('alpine') %>
  </head>

  <body>
    <div class="w-screen" x-data="{ mobileNav: false }">
      <%= render('topbar') %>
      <main class="flex flex-col items-center px-8 md:px-32 py-4 md:py-8">
        <div class="flex flex-col gap-4 xl:w-1/2">
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
      </main>
    </div>
  </body>
</html>
